* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-height: 100vh;
}

html {
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-size: 10px;
}

body {
    display: flex;
    width: 100vh;
}

.chat-container {
    display: flex;
    height: 100%;
    background: white;
    border-radius: 10px;
}

.left-container {
    width: 350px;
    height: 100vh;
}

.right-container {
    width: 1015px;
    height: 100vh;
}