* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-height: 100vh;
}

html {
    font-family: 'Poppins', 'Roboto', sans-serif;
    /* background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%); */
    font-size: 10px;
}

body {
    display: flex;
    /* flex-grow: inherit;
    flex-shrink: inherit;
    flex: 1 2 auto; */
    /* place-items: center; */
    width: 100vh;
}

.chat-container {
    display: flex;
    height: 100%;
    background: white;
    border-radius: 10px;
}

.left-container {
    width: 350px;
    height: 100vh;
}

.right-container {
    width: 1015px;
    height: 100vh;
}


/* #status-container,
#friend-list,
#option {
    background: #E3F6FC;
    width: 350px;
}

#chat-title,
#chat-message-list,
#chat-form {
    margin-left: 70px;
} */